body {
    background: rgb(224, 231, 33);
}

h1 {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, .9);
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: .1em;
}

.jumbotron {
    position: absolute;
    background: rgb(0, 133, 202);
    left: 30px;
    top: 30px;
    width: 90%;
    background-image: url("../images/didyouknow.jpg");
    background-repeat: no-repeat;
}

.display-4 {
    padding: 1.4em;
}

.subcontainer {
    background: rgb(68, 0, 153);
    color: white;
    text-decoration: beige;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
}

.btn-secondary {
    color: white;
    background-color: rgb(206, 0, 88);
}

.checked {
    background: rgb(67, 176, 42);
}

#timer {
    font-family: 'Share Tech Mono', monospace;
}

#commit {
    background: rgb(67, 176, 42);
    margin-left: 20px;
}

.btn-primary {
    text-align: left;
}

#timerdisplay {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 36px;
}